RewriteEngine on
Options -Indexes
<Files 403.shtml>
order allow,deny
allow from all
</Files>

deny from 92.222.242.104

RewriteCond %{HTTP_REFERER} !^https://rebanx.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://rebanx.com$      [NC]
RewriteRule .*\.(tz|rar|gz)$ https://rebanx.com [R,NC]


RewriteCond %{HTTP_REFERER} !^http://rebanx.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://rebanx.com$      [NC]
RewriteRule .*\.(gz|rar|zip)$ https://rebanx.com [R,NC]


<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.*)$ https://rebanx.com/$1 [R,L]
</IfModule>