.icon-addon_domains,.icon-address_importer,.icon-advanced_zone_editor,.icon-aliases,.icon-analog_stats,.icon-anonymous_ftp,.icon-apache_handlers,.icon-apache_spam_assassin,.icon-api_shell,.icon-archive,.icon-authentication,.icon-autoresponders,.icon-awstats,.icon-backup,.icon-backup_wizard,.icon-bandwidth,.icon-boxtrapper,.icon-calendar_and_contacts,.icon-change_language,.icon-change_password,.icon-change_style,.icon-contact_information,.icon-cpu_and_concurrent_connection_usage,.icon-cron_jobs,.icon-default_address,.icon-directory_privacy,.icon-disk_usage,.icon-email_accounts,.icon-email_filters,.icon-email_routing,.icon-encryption,.icon-error_pages,.icon-errors,.icon-file_manager,.icon-forwarders,.icon-ftp_accounts,.icon-ftp_connections,.icon-global_email_filters,.icon-greylisting,.icon-hotlink_protection,.icon-images,.icon-indexes,.icon-ip_blocker,.icon-leech_protection,.icon-logaholic,.icon-lvephpsel,.icon-mailing_lists,.icon-metrics_editor,.icon-mime_types,.icon-mod_security,.icon-multiphp_ini_editor,.icon-multiphp_manager,.icon-mx_entry,.icon-mysql_database_wizard,.icon-mysql_databases,.icon-optimize_website,.icon-perl_modules,.icon-php,.icon-php_my_admin,.icon-php_pear_packages,.icon-php_pg_admin,.icon-postgresql_database_wizard,.icon-postgresql_databases,.icon-raw_access,.icon-redirects,.icon-remote_mysql,.icon-ruby_gems,.icon-ruby_on_rails,.icon-security_policy,.icon-simple_zone_editor,.icon-site_publisher,.icon-site_software,.icon-soft_div_icons,.icon-ssh_access,.icon-ssl_management,.icon-ssl_storage,.icon-ssl_tls,.icon-subdomains,.icon-tls_wizard,.icon-track_delivery,.icon-track_dns,.icon-two_factor_authentication,.icon-user_manager,.icon-virus_scanner,.icon-visitors,.icon-web_disk,.icon-web_host_manager,.icon-webalizer,.icon-webalizer_ftp,.icon-zone_editor { background-image: url('./icon_spritemap.png?3a8625c19075ac554a02e02c2db35a322c3126e3ab6cd5ab982f58b0c92470d7_3.0'); background-repeat: no-repeat; }
.icon-addon_domains { background-position: -60px -63px; width: 33px; height: 32px; }
.icon-address_importer { background-position: -121px -5px; width: 32px; height: 32px; }
.icon-advanced_zone_editor { background-position: -121px -47px; width: 32px; height: 32px; }
.icon-aliases { background-position: -5px -107px; width: 32px; height: 32px; }
.icon-analog_stats { background-position: -47px -107px; width: 32px; height: 32px; }
.icon-anonymous_ftp { background-position: -89px -107px; width: 32px; height: 32px; }
.icon-apache_handlers { background-position: -225px -401px; width: 45px; height: 30px; }
.icon-apache_spam_assassin { background-position: -163px -5px; width: 46px; height: 32px; }
.icon-api_shell { background-position: -163px -47px; width: 32px; height: 32px; }
.icon-archive { background-position: -163px -89px; width: 32px; height: 32px; }
.icon-authentication { background-position: -5px -149px; width: 32px; height: 32px; }
.icon-autoresponders { background-position: -47px -149px; width: 32px; height: 32px; }
.icon-awstats { background-position: -89px -149px; width: 32px; height: 32px; }
.icon-backup { background-position: -131px -149px; width: 32px; height: 32px; }
.icon-backup_wizard { background-position: -219px -5px; width: 45px; height: 32px; }
.icon-bandwidth { background-position: -219px -47px; width: 32px; height: 32px; }
.icon-boxtrapper { background-position: -219px -89px; width: 35px; height: 32px; }
.icon-calendar_and_contacts { background-position: -219px -131px; width: 32px; height: 32px; }
.icon-change_language { background-position: -173px -149px; width: 32px; height: 32px; }
.icon-change_password { background-position: -5px -191px; width: 32px; height: 32px; }
.icon-change_style { background-position: -47px -191px; width: 32px; height: 32px; }
.icon-contact_information { background-position: -89px -191px; width: 32px; height: 32px; }
.icon-cpu_and_concurrent_connection_usage { background-position: -131px -191px; width: 32px; height: 32px; }
.icon-cron_jobs { background-position: -173px -191px; width: 32px; height: 32px; }
.icon-default_address { background-position: -215px -191px; width: 32px; height: 32px; }
.icon-directory_privacy { background-position: -274px -5px; width: 32px; height: 32px; }
.icon-disk_usage { background-position: -274px -47px; width: 32px; height: 32px; }
.icon-email_accounts { background-position: -274px -89px; width: 32px; height: 32px; }
.icon-email_filters { background-position: -274px -131px; width: 32px; height: 32px; }
.icon-email_routing { background-position: -274px -173px; width: 32px; height: 32px; }
.icon-encryption { background-position: -5px -233px; width: 32px; height: 32px; }
.icon-error_pages { background-position: -47px -233px; width: 32px; height: 32px; }
.icon-errors { background-position: -89px -233px; width: 32px; height: 32px; }
.icon-file_manager { background-position: -131px -233px; width: 32px; height: 32px; }
.icon-forwarders { background-position: -173px -233px; width: 32px; height: 32px; }
.icon-ftp_accounts { background-position: -215px -233px; width: 32px; height: 32px; }
.icon-ftp_connections { background-position: -257px -233px; width: 32px; height: 32px; }
.icon-global_email_filters { background-position: -316px -5px; width: 32px; height: 32px; }
.icon-greylisting { background-position: -316px -47px; width: 32px; height: 32px; }
.icon-hotlink_protection { background-position: -316px -89px; width: 32px; height: 32px; }
.icon-images { background-position: -316px -131px; width: 32px; height: 32px; }
.icon-indexes { background-position: -316px -173px; width: 32px; height: 32px; }
.icon-ip_blocker { background-position: -316px -215px; width: 32px; height: 32px; }
.icon-leech_protection { background-position: -5px -275px; width: 32px; height: 32px; }
.icon-logaholic { background-position: -47px -275px; width: 32px; height: 32px; }
.icon-lvephpsel { background-position: -5px -5px; width: 48px; height: 48px; }
.icon-mailing_lists { background-position: -89px -275px; width: 32px; height: 32px; }
.icon-metrics_editor { background-position: -131px -275px; width: 32px; height: 32px; }
.icon-mime_types { background-position: -173px -275px; width: 32px; height: 32px; }
.icon-mod_security { background-position: -215px -275px; width: 32px; height: 32px; }
.icon-multiphp_ini_editor { background-position: -257px -275px; width: 32px; height: 32px; }
.icon-multiphp_manager { background-position: -299px -275px; width: 32px; height: 32px; }
.icon-mx_entry { background-position: -358px -5px; width: 32px; height: 32px; }
.icon-mysql_database_wizard { background-position: -5px -401px; width: 45px; height: 31px; }
.icon-mysql_databases { background-position: -60px -401px; width: 45px; height: 31px; }
.icon-optimize_website { background-position: -358px -47px; width: 32px; height: 32px; }
.icon-perl_modules { background-position: -358px -89px; width: 32px; height: 32px; }
.icon-php { background-position: -358px -131px; width: 32px; height: 32px; }
.icon-php_my_admin { background-position: -5px -63px; width: 45px; height: 34px; }
.icon-php_pear_packages { background-position: -358px -173px; width: 32px; height: 32px; }
.icon-php_pg_admin { background-position: -5px -317px; width: 50px; height: 32px; }
.icon-postgresql_database_wizard { background-position: -115px -401px; width: 45px; height: 31px; }
.icon-postgresql_databases { background-position: -358px -215px; width: 32px; height: 32px; }
.icon-raw_access { background-position: -358px -257px; width: 32px; height: 32px; }
.icon-redirects { background-position: -65px -317px; width: 33px; height: 32px; }
.icon-remote_mysql { background-position: -170px -401px; width: 45px; height: 31px; }
.icon-ruby_gems { background-position: -108px -317px; width: 32px; height: 32px; }
.icon-ruby_on_rails { background-position: -150px -317px; width: 32px; height: 32px; }
.icon-security_policy { background-position: -192px -317px; width: 32px; height: 32px; }
.icon-simple_zone_editor { background-position: -234px -317px; width: 32px; height: 32px; }
.icon-site_publisher { background-position: -276px -317px; width: 32px; height: 32px; }
.icon-site_software { background-position: -318px -317px; width: 32px; height: 32px; }
.icon-soft_div_icons { background-position: -63px -5px; width: 48px; height: 48px; }
.icon-ssh_access { background-position: -400px -5px; width: 37px; height: 32px; }
.icon-ssl_management { background-position: -400px -47px; width: 32px; height: 32px; }
.icon-ssl_storage { background-position: -400px -89px; width: 32px; height: 32px; }
.icon-ssl_tls { background-position: -400px -131px; width: 32px; height: 32px; }
.icon-subdomains { background-position: -5px -359px; width: 43px; height: 32px; }
.icon-tls_wizard { background-position: -400px -173px; width: 32px; height: 32px; }
.icon-track_delivery { background-position: -400px -215px; width: 32px; height: 32px; }
.icon-track_dns { background-position: -400px -257px; width: 32px; height: 32px; }
.icon-two_factor_authentication { background-position: -400px -299px; width: 32px; height: 32px; }
.icon-user_manager { background-position: -58px -359px; width: 32px; height: 32px; }
.icon-virus_scanner { background-position: -100px -359px; width: 32px; height: 32px; }
.icon-visitors { background-position: -142px -359px; width: 32px; height: 32px; }
.icon-web_disk { background-position: -184px -359px; width: 32px; height: 32px; }
.icon-web_host_manager { background-position: -226px -359px; width: 45px; height: 32px; }
.icon-webalizer { background-position: -281px -359px; width: 32px; height: 32px; }
.icon-webalizer_ftp { background-position: -323px -359px; width: 32px; height: 32px; }
.icon-zone_editor { background-position: -365px -359px; width: 32px; height: 32px; }